<div class="row" style="height: 100%;">
  <!-- <div class="row align-items-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-8  mt-4 offset-md-2 offset-sm-1 offset-lg-3 "> -->
  <div class="mx-auto" style="width:100%; height: 100%; display:table;">
    <div class="card text-center" style="vertical-align: middle !important; display: table-cell;">
      <div class="card-body">
        <h1 class="card-title">Encuesta de Salida</h1>
        <img src="assets/logo.png" routerLink="/" alt="" style="max-width:40%;">
        <h1 class="card-text mt-4">¡Muchas Gracias!</h1>
        <h5 class="mt-2" style="color:#ddd;">Te enviamos una copia a tu email</h5>
        <!-- <h3 class="card-text mt-5">--- Compartir ---</h3> -->
      </div>
      <div class="card-footer text-muted mt-4"></div>
    </div>
  </div>
  <!-- </div> -->
</div>