<div class="row">
  <!-- <div class="row align-items-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-8  mt-4 offset-md-2 offset-sm-1 offset-lg-3 "> -->
  <div class="mx-auto mt-4" style="width:80%;">
    <div class="card text-center">
      <div class="card-body">
        <h3 class="card-title">Encuesta de Salida</h3>
        <img src="assets/logo.png" routerLink="/" alt="" style="max-width:40%;">
        <h2 class="card-text mt-4">¡Muchas Gracias!</h2>
        <h6 class="mt-2" style="color:#ddd;">Te enviamos una copia a tu email</h6>
        <h4 class="card-text mt-5">--- Compartir ---</h4>
      </div>
      <div class="card-footer text-muted mt-4"></div>
    </div>
  </div>
  <!-- </div> -->
</div>