<div class="row" style="height: 100%;">
  <!-- <div class="row align-items-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-8  mt-4 offset-md-2 offset-sm-1 offset-lg-3 "> -->
  <div class="mx-auto" style="width:100%; height: 100%; display:table;">
    <div class="card text-center" style="vertical-align: middle !important; display: table-cell;">
      <div class="card-body">
        <h1 class="card-title">Encuesta de Salida</h1>
        <img src="assets/logo.png" alt="" style="max-width:40%;">
        <h2 class="card-text mt-4">¿Le ofrecieron algún vino de mesa?</h2>
        <form [formGroup]="sForm" (ngSubmit)="sub()" novalidate>
          <div class="btn-group btn-group-toggle mt-4" data-toggle="buttons" style="width:55%;">
            <label class="btn btn-lg btn-success " style="width:50%; margin-right:2mm; border-radius: 10px;">
              <input type="radio" formControlName="group2" value="SI" autocomplete="off">SI
            </label>
            <label class="btn btn-lg btn-danger" style="width:50%; margin-left:2mm; border-radius: 10px;">
              <input type="radio" formControlName="group2" value="NO" autocomplete="off"> NO
            </label>
          </div>
        </form>
      </div>
      <div class="card-footer text-muted mt-4">
        <nav aria-label="Page navigation example">
          <ul class="pagination pagination-sm justify-content-center">
            <li class="page-item"><a class="page-link" style="border-radius:50%;"></a></li>
            <li class="page-item active"><a class="page-link" style="border-radius:50%;"></a></li>
            <li class="page-item"><a class="page-link" style="border-radius:50%;"></a></li>
            <li class="page-item"><a class="page-link" style="border-radius:50%;"></a></li>
            <li class="page-item"><a class="page-link" style="border-radius:50%;"></a></li>
            <li class="page-item"><a class="page-link" style="border-radius:50%;"></a></li>
            <li class="page-item"><a class="page-link" style="border-radius:50%;"></a></li>
            <li class="page-item"><a class="page-link" style="border-radius:50%;"></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>