/* You can add global styles to this file, and also import other style files */
html,body{
    height: 100% !important;
}

.active a{
    background-color: #aaa !important;    
    border:1px solid #aaa !important;
}
.page-link{
    margin-right: 1mm !important;
}

.card-title{
    color: #666;
    margin-bottom: 0 !important;
}
.card-text{
    color: #666;
}
.card-footer{
    background: none !important;
}
